:javascript
  // This piece of code checks for the status of 
  // Address to be procured from this API: https://github.com/yomi-digital/ficosofn/issues/4

  // Checking if the payment type is Crypto
  if ($('#crypto-payment-status').length > 0) {
    console.log("Timer present");

    // Setting API refresh rates and expected interval 
    var interval = 60000; // ms
    var expected = Date.now() + interval;
    var totalWaitTimeForCryptoPayment = 300; // seconds

    // Function to load and animate the progress along with the refresh rate
    function progressBar(timeleft, timetotal, $element) {
      var progressBarWidth = timeleft * $element.width() / timetotal;
      $element.find('div').animate({ width: progressBarWidth }, 500).html(Math.floor(timeleft/60) + ":"+ timeleft%60);

      if(timeleft > 0) {
        setTimeout(function() {
          progressBar(timeleft - 1, timetotal, $element);
        }, 1000);
      }
    };

    // Function to fetch the payment status using the yomi-digital API
    // @YOMI_TODO move the URI to a static variable
    function fetchPaymentStatus() {
      var dt = Date.now() - expected; // the drift (positive for overshooting)
      if (dt > interval) {
          // something really bad happened. Maybe the browser (tab) was inactive?
          // possibly special handling to avoid futile "catch up" run
          // @YOMI_TODO - need to add exception handling message for when the page doesnt respond AT ALL!
      }
      console.log("Fetch payment status");

      $.get('http://134.209.31.112:4000/payments/check/#{raw @crypto_payment_response['address']}')
        .done(function(data) {
          console.log(data);

          if (data['paid'].length > 0) {
            if (data['paid'] == true) {
              $('#crypto-payment-status span').text(data['paid']);
              $('#crypto-payment-status').hide();
              alert("Payment complete!");
            }
          } else {
            $('#crypto-payment-status span').text("UNPAID");
          }
        })
        .fail(function(data) {
          alert("There was a problem in fetching the payment request.");
        });

      expected += interval;
      setTimeout(fetchPaymentStatus, Math.max(0, interval - dt)); // take into account drift
    }

    progressBar(totalWaitTimeForCryptoPayment, totalWaitTimeForCryptoPayment, $('#crypto-payment-progress-bar'));
    setTimeout(fetchPaymentStatus(), interval);
  }