.row#crypto-payment-status
  .columns.large-12
    .order-summary.text-small
      .right
        %span
          = t(:order_confirmed_crypto_payment_default_status)
      %strong
        = t(:order_confirmed_crypto_payment_title)
    .pad
      .text-big.center
        %p
          = t(:order_confirmed_crypto_payment_description)

.row
  .columns.large-12
    .center
      = image_tag crypto_payment_response['qrcode']
    %br

.row
  .columns.large-12
    #crypto-payment-timer
      %strong.pad
        Timer
    #crypto-payment-progress-bar
      .bar