.row
  .columns.large-12.text-center
    %h3
      = t(:order_confirmed_crypto_payment_title)
    %p
      = t(:order_confirmed_crypto_payment_description)

.row
  .columns.large-12.text-center
    %img
      = image_tag crypto_payment_request['qrcode']
